body{
	
	background-color: white;
	padding:0;
	margin:0 auto;
	background-attachment:fixed;
	background-position:right;
	max-width: 63.63636363636364%;
	float: left;
}
#greencard{
	position: absolute;
	left:1000px;





}
#gvk{
	border-radius: 30%;
	transition: 1s transform;
	position:absolute;
	top:1150px;
	left:100px
}
#gvk:hover{
	box-shadow:3px 3px 7px #D100FF;
	transform: rotate(360deg) scale(1.1);}
#tvk{
	border-radius:30px;
	border: 1px solid transparent;
	transition: 1s transform;
	position:absolute;
	top:1150px;
	left:500px
}
#grow{
	position: absolute;
	left:400px;
	top:400px;




}
#tvk:hover{
	box-shadow:3px 3px 7px #D100FF;
	transform: rotate(360deg) scale(1.1);}
#hvk{
	transition: 1s transform;
	border-radius: 30%;
	position:absolute;
	top:1150px;
	left:900px
}
#hvk:hover{
	box-shadow:3px 3px 7px #D100FF;
	transform: rotate(360deg) scale(1.1);}
#zvk{
	transition: 1s transform;
	border-radius: 30%;
	position:absolute;
	border: 1px solid black;
	top:1150px;
	left:1300px
}
#zvk:hover{
	box-shadow:3px 3px 7px #D100FF;
	transform: rotate(360deg) scale(1.1);}
#mig{
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	width:99.3%;
	
	padding:4px;
	opacity:1;
	height:100px;
	background-image: url(img/54312.jpg) ;


}
#zkdvs{
	position: absolute;
	left:300px;





}
#linebut{
	background-color:black;
	width: 100px;
	height: 2px;
	position: absolute;
	
	top:300px;
	left:20px;



}
#backnews{

	position: absolute;
	left:350px;
	top:350px;
	width: 800px;
	height:400px;
	background-color: #cccacd;
	border-radius: 3%;

}
#linehut{
	background-color:black;
	width: 300px;
	height: 2px;
	position: absolute;
	
	top:820px;
	left:200px;



}
#linegut{
	background-color:black;
	width: 300px;
	height: 2px;
	position: absolute;
	
	top:820px;
	left:1000px;



}
#linezut{
	background-color:black;
	width: 100px;
	height: 2px;
	position: absolute;
	
	top:300px;
	left:900px;



}
#titler{
	position: absolute;
	left: 660px;
	top:200px;
	font-size: 50px;
	font-weight: bold;
	font-style: oblique;
	color:black;
	transition: 1s transform;

	cursor: default;

}
#titler:hover{


transform: rotate(0deg) scale(1.1);

}
#linetut{
	background-color:black;
	width: 100px;
	height: 2px;
	position: absolute;
	
	top:300px;
	left:550px;



}


#uhg{
	transition: 1s transform;
	border: 3px solid black;
	background-color: black;
	color:white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top:280px;
	left:1100px;
	box-shadow: 7px 7px 12px #000;
	cursor: pointer;
	border-radius: 5%;
}
#ugh: hover{
	box-shadow: 3px 3px 7px #D100FF;
	transform: rotate(0deg) scale(1.1);


}
/*#usqw{
	color:white;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	left:100px;
	top:40px;
	line-height: 1;
    display: inline-block;
    text-decoration:none;
	cursor:pointer;




}
#usqw:after{ 
}*/
#newsshow{
	transition: 1s transform;
	border: 3px solid black;
	background-color: black;
	color:white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top:800px;
	left:600px;
	box-shadow: 7px 7px 12px #000;
	cursor: pointer;
	border-radius: 5%;
}
#usqw {
	position: absolute;
	top:30px;
	left:200px;
	font-size: 40px;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
	font-style: oblique;
}
#usqw:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: white ; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

#usqw:hover:after,
#usqw:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
#usqb {
	position: absolute;
	top:30px;
	left:400px;
	font-size: 40px;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
	font-style: oblique;
}
#usqb:after {
	display: block;
	position: absolute;
	bottom:-6px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: white ; /*задаём цвет линии*/
	content: "";
	transition: width 0.5s ease-out; /*задаём время анимации*/
}

#usqb:hover:after,
#usqb:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
#usqc {
	position: absolute;
	top:30px;
	left:660px;
	font-size: 40px;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
	font-style: oblique;

}
#usqc:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: white ; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

#usqc:hover:after,
#usqc:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
#jbl{
	transition: 1s transform;
	border: 3px solid black;
	background-color: black;
	color:white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top:280px;
	left:700px;
	box-shadow: 7px 7px 12px #000;
	cursor: pointer;
	border-radius: 5%;


}
#inst{
	position: absolute;
	top:500px;
	left:600px;



}
.twitter-timeline{
	position: absolute;
	top:500px;
	left:700px;



}
#jbk{
	transition: 1s transform;
	border: 3px solid black;
	background-color: black;
	color:white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top:280px;
	left:150px;
	box-shadow: 7px 7px 12px #000;
	cursor: pointer;
	border-radius: 5%;


}

#iopd{
	position: absolute;
	top:350px;
	left:400px;
	border-radius: 5%;
	border:2px solid black;

}
#iopg{
	position: absolute;
	top:350px;
	left:400px;
	border-radius: 5%;
	border:2px solid black;

}
#iopf{
	position: absolute;
	top:350px;
	left:400px;
	border-radius: 5%;
	border:2px solid black;

}
#sig{
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	width:99.3%;
	top:1100px;
	padding:4px;
	opacity:1;
	height:200px;
	background-image: url(img/54312.jpg) ;


}

#titles{
	color:#07ff00;
	position: absolute;
	left:100px;
	top:20px;
	font-size: 30px;
	font-weight: bold;
	border:2px solid white;
	padding: 10px;
	cursor: default;
	font-style:italic;
	border-radius: 30%;

}


@media screen and (max-width: 164px) { 
 body {
    width: 100%;
  }
}
@media screen and (max-width: 1700px){
  #kef {
    display:inline;
	position:absolute;
	left:1500px
  }
  #bgh{
	
	display:inline;
	position:absolute;
	top:1100px;
	left:200px
}
#beta{
	
	position:absolute;
	top: 10px;
	left:610px;
	border: 2px solid black;
	border-radius:10%;
	text-align: center;
	padding:10px;
	font-weight:bold;
	font-style:italic;
	
}

#lis{
	position:absolute;
	top:200;
	left:1350;
	
	
	
	
	
}
#vis{
	position:absolute;
	top:200;
	left:1400;
	
	
	
}



 #tis{
	 
	 position:absolute;
	 top:200;
	 left:1450;
 }
 
}
@media screen and (max-width: 1350px){
	 #zaga
	 {
	 position:absolute;
	left:1100px
	 }
	 #kef {
    display:inline;
	position:absolute;
	left:1100px
 	}
	
	
  	#bgh{
	display:inline;
	position:absolute;
	top:10px;
	left:1000px
	}
	#lis{display:none;}
	#vis{display:none;}
	#tis{display:none;}
	#qis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:80px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#xis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:160px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#zis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:220px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#sis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:280px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#fis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:340px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#bis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:400px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
	#sex{width: 9%}
	#kun{width: 20%;position:absolute;left: 440px;}
	#bla{position:absolute;

	height:15px;}
	#sun{visibility:hidden;}
	#news{
		font-size:20px;
	}
  	#news{
	opacity:100%;
	color:white;
	font-size:10px;	
}
}
@media screen and (max-width: 1650px){
 #kef {
    display:inline;
	position:absolute;
	left:1400px
  }
  #bgh{
	
	display:inline;
	position:absolute;
	top:10px;
	left:1300px
}	
	#zaga{
	position:absolute;
	top: 10px;
	left:600px;
	
	}
	#news{
	opacity:100%;
	color:white;
	font-size:10px;	
}
 #qis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:400px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#xis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:380px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#zis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:580px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#sis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:780px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#fis{
	color:#f250c2;
	font-style:italic;
	font-weight:bold;
	font-size:30px;
	position:absolute;
	left:1080px;
	top:1410px;
	border:3px solid transparent;
	border-radius:10%;
	padding:2px;
	opacity:0.7;
	background-color:black;
	max-width: 63.63636363636364%;
}
#bis{
position:absolute;
	left:1280px;
	top:1410px;
}
	#sex{width:100px;}
	#kun{width:200px;}
	#sun{width:200px;}
	#lis{position: absolute;left:1200px;}
	#vis{position: absolute;left:1300px;}
	#tis{position: absolute;left:1400px;}

}
@media screen and (max-width: 1750px){


	#beta{
	position:absolute;
	top: 10px;
	left:650px;
	
	}


#news{
	opacity:100%;
	color:white;
	font-size:10px;	
}

}	
@media screen and (max-width: 800px){



